<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form>
          <label for="username">Введіть ім'я користувача:</label>
          <input type="text" id="username" name="username" pattern="[A-Za-zА-Яа-яІіЇїЄєҐґ\s]+" required>
          <button type="submit">Надіслати</button>
        </form>
      </div>
      <div class="col-12">
        <button id="open-modal-btn">Open Modal</button>

        <div id="modal" class="modal">
          <div class="modal-content">
            <p>Hello from Modal Window!</p>
            <span><button class="close">Close</button></span>
          </div>
        </div>
      </div>

      <div class="col-12 d-flex align-items-center">
        <div id="traffic-light">
          <div id="red" class="circle"></div>
          <div id="yellow" class="circle"></div>
          <div id="green" class="circle"></div>
        </div>
        <button class="button" onclick="changeLight()">Next</button>
      </div>

      <div class="col-6">
        <div class="block" id="block1">1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio consequatur amet
          quaerat?</div>
        <div class="block" id="block2">2. Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
        <div class="block" id="block3">3. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptas ex,
          consequatur dicta necessitatibus saepe ab quasi autem! Aliquid possimus placeat accusamus optio voluptate?
        </div>
        <div class="block" id="block4">4. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam iste ut ea
          illo. Aliquam magnam quasi quam.</div>
        <div class="block" id="block5">5. Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, assumenda
          officia. Consequuntur, vel quam.</div>
        <div class="block" id="block6">6. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto laborum libero
          harum earum dignissimos, explicabo atque voluptas tenetur.</div>
        <div class="block" id="block7">7. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime.</div>
      </div>

      <div class="col-12">
        <div class="tooltip">
          <button class="button1">Кнопка 1</button>
          <span class="tooltiptext">Це підказка для Кнопки 1</span>
        </div>

        <!-- друга кнопка -->
        <div class="tooltip">
          <button class="button1">Кнопка 2</button>
          <span class="tooltiptext">Це підказка для Кнопки 2</span>
        </div>

        <!-- третя кнопка -->
        <div class="tooltip">
          <button class="button1">Кнопка 3</button>
          <span class="tooltiptext">Це підказка для Кнопки 3</span>
        </div>
      </div>
    </div>
  </div>
</header>