<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>TASK 1</h1>
        <form>
          <label for="username">Введіть ім'я користувача:</label>
          <input type="text" id="username" name="username" pattern="[A-Za-zА-Яа-яІіЇїЄєҐґ\s]+" required>
          <button type="submit">Надіслати</button>
        </form>
      </div>
      <div class="col-12">
        <h1>TASK 2</h1>
        <button id="open-modal-btn">Open Modal</button>

        <div id="modal" class="modal">
          <div class="modal-content">
            <p>Hello from Modal Window!</p>
            <span><button class="close">Close</button></span>
          </div>
        </div>
      </div>

      <div class="col-12 d-flex align-items-center">
        <h1>TASK 4</h1>
        <div id="traffic-light">
          <div id="red" class="circle"></div>
          <div id="yellow" class="circle"></div>
          <div id="green" class="circle"></div>
        </div>
        <button class="button" onclick="changeLight()">Next</button>
      </div>

      <div class="col-6">
        <h1>TASK 5</h1>
        <div class="block" id="block1">1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio consequatur amet
          quaerat?</div>
        <div class="block" id="block2">2. Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
        <div class="block" id="block3">3. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptas ex,
          consequatur dicta necessitatibus saepe ab quasi autem! Aliquid possimus placeat accusamus optio voluptate?
        </div>
        <div class="block" id="block4">4. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam iste ut ea
          illo. Aliquam magnam quasi quam.</div>
        <div class="block" id="block5">5. Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, assumenda
          officia. Consequuntur, vel quam.</div>
        <div class="block" id="block6">6. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto laborum libero
          harum earum dignissimos, explicabo atque voluptas tenetur.</div>
        <div class="block" id="block7">7. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime.</div>
      </div>

      <div class="col-12 mt-5 mb-5">
        <h1>TASK 6</h1>
        <span id="size">
          <button class="button-top">Button 1</button>
          <button class="button-bottom">Button 2</button>
        </span>
      </div>

      <div class="col-12">
        <h1>TASK 7</h1>
        <ul id="tree">
          <li class="open">Директорія 1
            <ul>
              <li>Файл 1</li>
              <li>Файл 2</li>
              <li>Директорія 1.1
                <ul>
                  <li>Файл 3</li>
                  <li>Файл 4</li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="open">Директорія 2
            <ul>
              <li>Файл 5</li>
              <li>Файл 6</li>
              <li>Директорія 2.1
                <ul>
                  <li>Файл 7</li>
                  <li>Файл 8</li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="open">Директорія 3
            <ul>
              <li>Файл 9</li>
              <li>Файл 10</li>
              <li>Директорія 3.1
                <ul>
                  <li>Файл 11</li>
                  <li>Файл 12</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-12">
        <h1>TASK 8</h1>
        <div id="text-block" contenteditable>
          <p>Це змінюваний блок тексту в рамці. Натисніть і утримуйте клавішу мишки в нижньому правому куті та
            перетягуйте, щоб змінити його розмір.</p>
        </div>
      </div>
    </div>
  </div>
</header>