<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form>
          <label for="username">Введіть ім'я користувача:</label>
          <input type="text" id="username" name="username" pattern="[A-Za-zА-Яа-яІіЇїЄєҐґ\s]+" required>
          <button type="submit">Надіслати</button>
        </form>
      </div>
      <div class="col-12">
        <button id="open-modal-btn">Open Modal</button>

        <div id="modal" class="modal">
          <div class="modal-content">
            <p>Hello from Modal Window!</p>
            <span><button class="close">Close</button></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>